.main-div
{   
	box-sizing: border-box;
/*	border: 3px solid red;*/
	margin: 0 auto;
	height: 2600px;
}
.main-div::after{
    content: "";
    display: block;
    clear: both;
}

/*input{
  width: 80%;
  padding: 12px 20px;
  margin: 10px 10px 10px 0px;
  background-color: #F0F0F0 ;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0 10px 30px;
  
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}*/

.div-1 {
/*   border: 3px solid black;*/
/*   margin: 10px;*/
   margin-left: 150px;
   float: left;
   width: 810px;
}
.img-1{
  float: left;
   margin: 15px 10px 5px 10px;
   /*height:450px;
    width:300px;*/
   border-radius: 20px;
}

.img-2{
  float: left;
  margin: 15px 10px 5px 10px;
   height:210px;
    width:450px;
   border-radius: 20px;
}

.img-3{
  float: left;
 margin: 15px 10px 5px 10px;
   height:200px;
    width:210px;
   border-radius: 20px;
}

.img-4{
  float: left;
   margin: 15px 10px 5px 10px;
   height:200px;
    width:210px;
   border-radius: 20px;
}
.div-2 {
   border: 3px solid red;
/*   margin: 20px;*/
   width: 360px;
   height: 450px;
   box-sizing: border-box;
   margin-top: 10px;
/*   padding: 100px 10px 10px 40px;*/
   float: left;
   margin-bottom: 150px;
/*   overflow: auto;*/
   position: sticky;
   top: 80px;
   background-color: white;
   border-radius: 8px;
   box-shadow: 4px 5px 10px lightgray;
   margin-left: 40px;
}

.booking{
	padding: 20px;
/*	border: 2px solid black;*/
}

.booking strong{
	margin-left: 30px;
}
.booking input{
	margin-left: 30px;
}
.div-3{
float: left;
/*border: 2px solid yellow;*/
height: 450px;
margin-top: 20px;
margin-left: -35px;
position: relative;
width: 1200px;
max-width: 100%;
/*overflow: hidden;*/
/*margin-bottom: 100px;*/
}

.div-3 img:hover{
/*  border:2px solid yellow;*/

/*  zoom: 90%;*/
/*  transform: scale(1.5);*/
/*  box-shadow: 2px 2px 5px 10px lightseagreen;*/
}

#zoom-img {
    width: 100%; /* Ensures the image fills its container */
    transition: transform 0.3s ease; /* Smooth transition for zoom effect */
}


.div-4{
/*  border:2px solid black;*/
  float: left;
  width: 100%;
  margin-bottom: 40px;
/*  margin-left: 155px;*/
  text-align: center;
  padding: 10px 200px 10px 0px;
  position: sticky;
  top: 60px;
  background-color: white;
}

.div-4 ul li{
/*  border:2px solid black;*/
  display: inline-block;
  margin-right: 100px;
  padding:15px;
  color: gray;
}

.div-4 li:hover {
  color: green;
  border-bottom: 3px solid  green;
}
.div-4 li.active1 {
  border-bottom: 3px solid red;
}




/*PAckage detail - 2 page*/


.main-box{
/*	border: 3px solid black;*/
	float: left;
   width: 810px;
   margin: 20px;
   padding: 20px;
   box-sizing: border-box;
}
.box-1{
	margin: 30px 10px 0px 10px;
	float: left;
/*	border: 2px solid black;*/
}
.box-1 h2{
	margin-bottom: 20px;
}
.box-2{
	margin: 30px 10px 30px 10px;
	float: left;
/*	border: 2px solid black;*/
}
.box-3{
	float: left;
	width: 300px;
	margin: 30px 10px 30px 10px;
/*	border: 2px solid black;*/
	height: 305px;
}
.box-4{
	margin: 20px;
   width: 450px;
   height: 300px;
   box-sizing: border-box;
   padding: 100px 10px 10px 40px;
   float: left;
   overflow: auto;
   position: sticky;
   top: 80px;
   background-color: #bcd3f5;
   border-radius: 30px;
}
.booking strong{
	margin-left: 20px;
}
.booking input{
	margin-left: 30px;
}


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
/*  transition: 0.9s ease-in-out;*/
/*  margin-left: 70px;*/
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease-in-out;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */

.prev{
  left:8% ;
  border-radius: 3px 0 0 3px;
}
.next {
  right: 10%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text1 {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/*.active, .dot:hover {
  background-color: #717171;
}*/

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;

/*  animation-iteration-count: 2;*/
/*  animation-delay: 3s;*/
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}