{% extends 'customer/common/layout.html' %}
{% load static %}
{% block content %}

<head>
	<style type="text/css">
		.feature
		{
			margin-right: 60px;
			margin-left: 50px;
			width: 200px;
		}


	</style>
</head>
	<section class="w3l-inner-banner-main">
		<div class="about-inner">
			<div class="wrapper">
				<ul class="breadcrumbs-custom-path">
					<li><a href="/customer/homepage">Home <span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
					<li class="active">About</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- //covers -->
	<!-- w3l-content-23 block -->
	<section class="w3l-content-23">
		<div id="content23-block">
			<div class="wrapper">
				<div class="content23-head text-center">
					<h3>We are with you at every stage of your journey</h3>
					<p>Every journey can be amazing, whether it's to far-off lands or a nearby city break. Here we
						gather
						unique deals all in one place, making it even easier to find your dream offer.</p>
				</div>
				<div class="d-grid content23-col-2 text-center">
					<div class="content23-grid back-cont-1">
						<div class="content-texts">
							<h1 style="color:white; margin-bottom:15px;">You plan, we help</h1>
							<p>Travel means more than just getting there. You might need a hotel room and ect., Sleep
								easy,
								we'll work everything out together.</p>
						</div>
					</div>
					<div class="content23-grid back-cont-2">
						<div class="content-texts">
							<h1 style="color:white; margin-bottom:15px;">We care about you</h1>
							<p>No matter where you are, no matter what goes wrong, we're here to support you with our
								experience. We're only a phone call away. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- w3l-content-23 block -->
	<!-- w3l-features-5 -->
	<section class="w3l-features-5">
		<div class="features">
			<div class="wrapper" style="margin-left: 280px;">
				<div class="d-grid" >
					<div class="feature" align="center" >
						
							<div class="icon-bg">
								<span class="fa fa-thumbs-o-up" aria-hidden="true"></span>
							</div>
							<h4>we offer daily tours</h4>
						
					</div>
					<!-- <div class="feature">
						<a href="single.html">
							<div class="icon-bg">
								<span class="fa fa-bicycle" aria-hidden="true"></span>
							</div>
							<h4>cycling trips</h4>
						</a>
					</div> -->
					<div class="feature" align="center">
						
							<div class="icon-bg">
								<span class="fa fa-user-secret" aria-hidden="true"></span>
							</div>
							<h4>24/7 online support</h4>
						
					</div>
					<div class="feature" align="center">
						
							<div class="icon-bg">
								<span class="fa fa-suitcase" aria-hidden="true"></span>
							</div>
							<h4>eco lodges & tours</h4>
						
					</div><br>
					<div class="feature" align="center">
						
							<div class="icon-bg">
								<span class="fa fa-bus" aria-hidden="true"></span>
							</div>
							<h4>bus tours</h4>
						
					</div>
					<div class="feature" align="center">
						
							<div class="icon-bg">
								<span class="fa fa-globe" aria-hidden="true"></span>
							</div>
							<h4>new destinations</h4>
						
					</div>
					<div class="feature" align="center">
						
							<div class="icon-bg">
								<span class="fa fa-bicycle" aria-hidden="true"></span>
							</div>
							<h4>epic journeys</h4>
						
					</div>
					<!-- <div class="feature">
						
							<div class="icon-bg">
								<span class="fa fa-heart" aria-hidden="true"></span>
							</div>
							<h4>endangered wildlife</h4>
						</a>
					</div> -->
				</div>
			</div>
		</div>
	</section>
	<!--// w3l-features-5 -->
	<div class="w3l-content-with-photo-15">
		<!-- content-photo-15 -->
		<div class="content-photo">
			<div class="wrapper">
				<div class="d-grid">
					<div class="content-left-sec">
						<a href="single.html"><img src="{% static 'customer/assets/images/india_gate.jpg' %}" class="img img-responsive img-fluid" height="300px" alt=""></a>
					</div>
					<div class="content-photo-left">
						<h4>We are Explore</h4>
						<p>Travelling is an amazing way to learn a lot of things in life. A lot of people around the world travel every year to many places. Moreover, it is important to travel to humans. Some travel to learn more while some travel to take a break from their life. No matter the reason, travelling opens a big door for us to explore the world beyond our imagination and indulge in many things. </p>
						<div class="content-photo-grid">
							<div class="content-photo-bot1">
								<h5><a href="single.html"><span class="fa fa-check-circle-o"
											aria-hidden="true"></span>You will enjoy the bus.</a></h5>
							</div>
							<div class="content-photo-bot1 content-photo-gap">
								<h5><a href="single.html"><span class="fa fa-check-circle-o"
											aria-hidden="true"></span>Inclusive Packages</a></h5>
							</div>
							<div class="content-photo-bot1">
								<h5><a href="single.html"><span class="fa fa-check-circle-o"
											aria-hidden="true"></span>+120 Premium city tours</a></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //content-photo-15 -->
	</div>
	<!-- teams 32 block -->
	<!-- <section class="w3l-teams-32-main">
		<div class="teams-32">
			<div class="wrapper">
				<h3 class="title-main">Our Wonderful Team</h3>
				<p class="sub-title">Our team is made up of passionate travelers who have a wealth of knowledge and experience in the travel industry.</p>
				  From our expert travel advisors to our friendly customer service team, we are all committed to making your travel experience unforgettable. 
				<div class="d-grid grid-col-3 align-center main-contteam-32" style="margin-left: 60px;">
                    <div class="team-main-19" style="width: 300px;">
                        <div class="column-19">
                            <a href=""><img class="img-fluid" src="{% static 'customer/assets/images/purvi.jpg' %}" height="300px" style="width: 300px;" alt=" "></a>
                        </div>
                        <div class="right-team-9">
                            <h6><a href="" class="title-team-32">Sakhwala Purvi</a></h6>
                            <p class="sm-text-32">Tour Guide</p>
                            <div class="buttons-teams">
                                <a href=""><span class="fa fa-facebook-square" aria-hidden="true"></span></a>
                                <a href=""><span class="fa fa-twitter-square" aria-hidden="true"></span></a>
                                <a href=""><span class="fa fa-google-plus-square" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-main-19" style="width: 300px;">
                        <div class="column-19">
                            <a href=""><img class="img-fluid" src="{% static 'customer/assets/images/vinal.jpg' %}" height="300px" style="width: 300px;" alt=" "></a>
                        </div>
                        <div class="right-team-9">
                            <h6><a href="" class="title-team-32">Salvi vinal</a></h6>
                            <p class="sm-text-32">Tour Consultant</p>
                            <div class="buttons-teams">
                                <a href=""><span class="fa fa-facebook-square" aria-hidden="true"></span></a>
                                <a href=""><span class="fa fa-twitter-square" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-main-19" style="width: 300px;">
                        <div class="column-19">
                            <a href=""><img class="img-fluid" src="{% static 'customer/assets/images/mishita.jpg' %}" height="300px" style="width: 300px;" alt=" "></a>
                        </div>
                        <div class="right-team-9">
                            <h6><a href="" class="title-team-32">Prajapati Mishita</a></h6>
                            <p class="sm-text-32">Travel Agent</p>
                            <div class="buttons-teams">
                                <a href=""><span class="fa fa-facebook-square" aria-hidden="true"></span></a>
                                <a href=""><span class="fa fa-google-plus-square" aria-hidden="true"></span></a>
                            </div>
                        </div>
                    </div>
                    
                </div>
			</div>
		</div>
	</section> -->
{% endblock %}