{% extends 'customer/common/layout.html' %}
{% load static %}
{% block content %}

<section class="w3l-inner-banner-main">
        <div class="banner-9 sec-img">
            <div class="wrapper">
                <ul class="breadcrumbs-custom-path">
                    <li><a href="index.html">Home <span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                    <li><a href="#pages">Login <span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
                    <li class="active">Reset Password</li>
                </ul>
            </div>
        </div>
    </section>


<!-- forgot password -->


<section class="w3l-form-34-main">
        <div class="form34-sub" id="forgotpassword">
            <div class="form34">
                <h4 class="form-head">Reset Password</h4>
                <p class="form-para">Enter Your Mail Send Link Your Mail Please Check And Varify If Your Mail Before Account Create You Have A Link Inbox. Click Link & Your New Password </p>
               
                <hr style="opacity: 0.60;"><br>
                {% if messages %}
                    {% for i in messages %}
                        <script>alert("{{ i }}");</script>
                    {% endfor %}
                {% endif %}
                
                <form action="/customer/forgot_password_check" method="post" enctype="multipart/form-data" >
                    {% csrf_token %}
                    <div class="">
                        <p class="text-head">Enter Your Email</p>
                        <input type="email" class="input"  name="email" id="email" maxlength="40" placeholder="Your Email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" autocomplete="off" required />
                        
                    </div>
                   
                    <!-- <label class="container">
                        <input type="checkbox" checked>
                        <span class="checkmark"></span>Remember me
                    </label> -->
                    <button type="submit" class="buttonbg signinbutton">Send Mail</button>
                
                </form>
            </div>
        </div>
    </section>


   

{% endblock %}