{% extends 'customer/common/layout.html' %}
{% load static %}
{% block content %}
<section class="w3l-inner-banner-main">
		<div class="banner-9">
			<div class="wrapper">
				<ul class="breadcrumbs-custom-path">
					<li><a href="/customer/homepage">Home <span class="fa fa-angle-right" aria-hidden="true"></span></a></li>
					<!-- <li><a href="#pages">Pages <span class="fa fa-angle-right" aria-hidden="true"></span></a></li> -->
					<li class="active">Services</li>
				</ul>
			</div>
		</div>
	</section>
	<!-- //covers -->
	<!-- content 29 block -->
	<section class="w3l-content-28-main">
		<div class="content-28">
			<div class="wrapper">
				<div class="d-grid grid-col-4 main-cont-28" style="margin-left:25px">
					<div class="grids-content-29"  style="margin-right:20px ;">
						<h5><a href="#" class="title-cont-29">Taxi Service</a></h5>
						<p class="sub-paragraph cont-para-29">A taxicab conveys passengers between locations of their choice. </p>
						
					</div>
					<div class="grids-content-29"  style="margin-right:20px ;">
						<h5><a href="#" class="title-cont-29">Bus Service</a></h5>
						<p class="sub-paragraph cont-para-29">Buses are an important part of public transport in places all over the world. 
							</p>
					
					</div>
					<div class="grids-content-29"  style="margin-right:20px ;">
						<h5><a href="#" class="title-cont-29">Tour Service</a></h5>
						<p class="sub-paragraph cont-para-29">Tour service means the business of carrying passengers for hire by one or more Pedal Cycles. </p>
						
					</div>
					<div class="grids-content-29">
						<h5><a href="#" class="title-cont-29">Hotel Service</a></h5>
						<p class="sub-paragraph cont-para-29"> service has changed guests's feeling that hotels are “hurting their customer relationships.” </p>
						
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- //content 29 block -->
	<!-- text-29 -->
	<section class="w3l-text-29-main">
		<div class="text-29">
			<div class="wrapper">
				<div class="text-styles-top-29">
					<h3>We are the travel planning experts.
						Let us plan the perfect journey for you!</h3>
					<div class="text-info-29-top">
						<div class="text-styles-29-left_img">
							<img src="{% static 'customer/assets/images/check1.png' %}" class="img" alt="">
						</div>
						<div class="text-styles-29-right_content">
							<h5><a href="single.html" class="link">Tips for travellers</a></h5>
							<p>Share your travel information. Before you leave, share your itinerary with someone you trust. ...</p>
						</div>
					</div>
					<div class="text-info-29-top">
						<div class="text-styles-29-left_img">
							<img src="{% static 'customer/assets/images/check2.png' %}" class="img" alt="">
						</div>
						<div class="text-styles-29-right_content">
							<h5><a href="single.html" class="link">Need a hotel room? We've got deals for you!</a></h5>
							<p>Most hotels offer the ability to select your room type and number when booking online or over the phone. You can also request a specific room upon arrival if one is available. </p>
						</div>
					</div>
					<div class="text-info-29-top">
						<div class="text-styles-29-left_img">
							<img src="{% static 'customer/assets/images/check3.png' %}" class="img" alt="">
						</div>
						<div class="text-styles-29-right_content">
							<h5><a href="single.html" class="link">Reliable Booking System</a></h5>
							<p>One of the main benefits of online booking systems is that they allow you to accept reservations 24/7. This means that your customers can book your tours and activities anytime, anywhere, without you having to do a thing.  </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	 {% endblock %}