<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="/myadmin/dashboard">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="fa fa-edit mr-3"></i>
              <span class="menu-title">Categories</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/myadmin/add_category">Add New Categotry</a></li>
                <li class="nav-item"> <a class="nav-link" href="/myadmin/all_category">All Categories</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="fa-solid fa-building-user mr-3"></i>
              <span class="menu-title">State</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/myadmin/add_state">Add New State </a></li>
                <li class="nav-item"> <a class="nav-link" href="/myadmin/all_state">All Sate</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
              <i class="fa-solid fa-city mr-3" ></i>
              <span class="menu-title">City</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="error">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/myadmin/add_city">Add New City </a></li>
                <li class="nav-item"> <a class="nav-link" href="/myadmin/all_city">All City</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
              <i class="fa-solid fa-chart-area mr-3"></i>
              <span class="menu-title">Area</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/myadmin/add_area">Add New Area</a></li>
                <li class="nav-item"><a class="nav-link" href="/myadmin/all_area">All areas</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
              <i class="fa-sharp fa-solid fa-hotel mr-3"></i>
              <span class="menu-title">Hotels</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/myadmin/add_hotel">Add New Hotel</a></li>
                <li class="nav-item"><a class="nav-link" href="/myadmin/all_hotel">All Hotels</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
              <i class="fa-sharp fa-solid fa-car mr-3"></i>
              <span class="menu-title">Travels</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/myadmin/add_travel">Add New Travel</a></li>
                <li class="nav-item"> <a class="nav-link" href="/myadmin/all_travel">All Travels</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
              <i class="fa-sharp fa-solid fa-location-dot mr-3"></i>
              <span class="menu-title">Places</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="tables">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/myadmin/add_place">Add New Place</a></li>
                <li class="nav-item"> <a class="nav-link" href="/myadmin/all_place">All Places</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
             <i class="fa-solid fa-layer-group mr-3"></i>
              <span class="menu-title">Plans</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="icons">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/myadmin/add_plan">Add New Plan</a></li>
                <li class="nav-item"> <a class="nav-link" href="/myadmin/all_plan">All Plans</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/myadmin/customer">
              <i class="fa fa-user mr-3"></i>
              <span class="menu-title">Customers</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/myadmin/booking">
             <i class="fa-solid fa-money-check mr-3"></i>
              <span class="menu-title">Bookings</span>
            </a>
          </li>

         <!--  <li class="nav-item">
            <a class="nav-link" href="/myadmin/payment">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Payment</span>
            </a>
          </li> -->

          <li class="nav-item">
            <a class="nav-link" href="/myadmin/inquiry">
              <i class="fa-solid fa-envelope mr-3"></i>
              <span class="menu-title">Inquiry</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/myadmin/feedback">
              <i class="fa-sharp fa-solid fa-comments mr-3"></i>
              <span class="menu-title">Feedback</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/myadmin/login">
              <i class="fa-solid fa-right-from-bracket mr-3"></i>
                <span class="menu-title">Logout</span>
            </a>
          </li>

          
        </ul>
      </nav>