{% load static %}
<section class="w3l-footer-16">
       
        <div class="w3l-footer-16-main">
            <div class="wrapper">
                <div class="grid">
                    <div class="column">
                        <h2><a href="/customer/homepage" class="logo-2">TrigoBlyss</a></h2>
                        <p>All rights reserved.<br>©2024 <a href="/customer/homepage" target="_blank">TrigoBlyss</a>
                        </p>
                    </div>
                    <div class="column">
                        <h3>About</h3>
                        <ul class="footer-gd-16">
                            <li><a href="/customer/contactus">FAQs</a></li>
                            <li><a href="/customer/about">About Us</a></li>
                            <li><a href="/customer/service">Services</a></li>
                            <li><a href="/customer/feedback">Feedback</a></li>
                        </ul>
                    </div>
                    <div class="column">
                        <h3>Pages</h3>
                        <ul class="footer-gd-16">
                            <li><a href="/customer/packages">Packages</a></li>
                            <!-- <li><a href="blog.html">Blog Page</a></li> -->
                            <li><a href="/customer/contactus">Contact Us</a></li>
                            <li><a href="/customer/login1">Login</a></li>
                            <li><a href="/customer/register">Signup</a></li>
                        </ul>
                    </div>
                    <div class="column column3">
                        <h3>Explore</h3> 
                        <ul class="footer-gd-16">
                            <!-- <li><a href="#help">Support Center</a></li> -->
                            <li><a href="/customer/terms">Terms & Conditions</a></li>
                            <li><a href="/customer/policy">Privacy Policy</a></li>
                        </ul> 
                    </div>
                    <div class="column column4">
                        <h3>Subscribe </h3>
                        <form action="#" class="subscribe" method="post">
                            <input type="email" name="email" placeholder="Placeholder" required="">
                            <button><span class="fa fa-paper-plane" aria-hidden="true"></span></button>
                        </form>
                        <p>Subscribe to our mailing list and get updates to your email inbox.</p>
                    </div>
                </div>
            </div>
        </div>

       
    </section>