{% extends 'myadmin/common/layout.html' %}
{% block content %}
<div class="row">
            <div class="col-md-10 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add Travel</h4>
                  <p class="card-description">
                    Add new travel
                  </p>
                  <form class="forms-sample" method="post" action="/myadmin/store6" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputUsername1">Travel Vehical</label>
                      <input type="text" class="form-control" id="travel_name" name="travel_name" placeholder="Add Travel Name">
                    </div>

                    <div class="form-group">
                      <label for="exampleInputUsername1">Contact</label>
                      <input type="tel" class="form-control" id="contact" name="contact" placeholder="Contact">
                    </div>

                    <div class="form-group">
                      <label>Travel Image</label>
                      <input type="file" name="img[]" class="file-upload-default">
                      <div class="input-group col-xs-12">
                        <input type="file" name="image" id="image" class="form-control file-upload-info" placeholder="Upload Image">
                        <!-- <span class="input-group-append">
                          <input type="submit" class="file-upload-browse btn btn-primary"  name="submit" id="submit" value="Upload"/>
                        </span> -->
                      </div>
                    </div>

                    <div class="form-group">
                      <label for="exampleInputUsername1">No of seats</label>
                      <input type="text" class="form-control" id="no_of_seats" name="no_of_seats" placeholder="">
                    </div>

                    <div class="form-group">
                      <label for="exampleInputUsername1">Luggage</label>
                      <input type="text" class="form-control" id="luggage" name="luggage" placeholder="">
                    </div>

                    <div class="form-group">
                      <label for="exampleInputUsername1">Pickup</label>
                      <input type="text" class="form-control" id="pickup" name="pickup" placeholder="">
                    </div>

                    <div class="form-group">
                      <label for="exampleInputUsername1">Drop</label>
                      <input type="text" class="form-control" id="drop" name="drop" placeholder="">
                    </div>

                    <div class="form-group">
                      <label for="exampleTextarea1">Description</label>
                      <textarea class="form-control" name="description" id="description" rows="4"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary mr-2" value="submit">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
{% endblock %}