{% extends 'myadmin/common/layout.html' %}
{% block content %}
<div class="row">
            <div class="col-md-10 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add City</h4>
                  <p class="card-description">
                    Add new city </p><br>
                  
                  <form class="forms-sample" method="post" action="/myadmin/store10">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputUsername1">City Name </label>
                      <input type="text" name="city_name" class="form-control" id="city_name" placeholder="Add City">
                    </div>

                    <div class="form-group">
                      <label for="exampleSelectGender">State name</label>
                        <select class="form-control" id="state_id" name="state_id">
                          <option>Select State</option>
                          {% for row in state %}
                            <option value="{{row.id}}">{{row.state_name}}</option>
                          {% endfor %}
                        </select>
                      </div>

                      <!-- <div class="form-group">
                      <label for="exampleSelectGender">State name</label>
                        <select class="form-control" id="state_id" name="state_id" multiple multiselect-search="true" multiselect-select-all="true" multiselect-max-items="10">
                          <option>Select State</option> 
                          {% for row in state %}
                            <option value="{{row.id}}">{{row.state_name}}</option>
                          {% endfor %}
                        </select>
                      </div> -->

                    <button type="submit" class="btn btn-primary mr-2" value="submit">Submit</button>
                    <button class="btn btn-light" value="cancel">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
{% endblock %}