{% extends 'myadmin/common/layout.html' %}
{% block content %}
<div class="row">
            <div class="col-md-10 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add Area</h4>
                  <p class="card-description">
                    Add new area </p><br>
                  
                  <form class="forms-sample" method="post" action="/myadmin/store11">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputUsername1">Area Name </label>
                      <input type="text" name="area_name" class="form-control" id="area_name" placeholder="Add Area">
                    </div>

                    <div class="form-group">
                      <label for="exampleSelectGender">City name</label>
                        <select class="form-control" id="city_id" name="city_id">
                          <option>Select City</option>
                          {% for row in city %}
                            <option value="{{row.id}}">{{row.city_name}}</option>
                          {% endfor %}
                        </select>
                      </div>

                    <button type="submit" class="btn btn-primary mr-2" value="submit">Submit</button>
                    <button class="btn btn-light" value="cancel">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
{% endblock %}