{% extends 'myadmin/common/layout.html' %}
{% block content %}
<div class="row">
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Hotel Details</h4>
                  
                  
                  <div class="table-responsive">
                    <table class="table table-hover">
                      
                      <tbody>
                        
                        <tr>
                          <th>ID</th>
                          <td>{{result.id}}</td>
                        </tr>
                        <tr>
                          <th>Hotel Name</th>
                          <td>{{result.hotel_name}}</td>
                        </tr>
                        <tr>
                          <th>Email</th>
                          <td>{{result.email}}</td>
                        </tr>
                        <tr>
                          <th>Contact</th>
                          <td>{{result.contact}}</td>
                        </tr>
                        <tr>
                          <th>Image</th>
                          <td>
                            <img src="/media/upload/{{result.image}}" class="img-fluid d-block" style="height: 140px; width: 200px;" ></td>
                        </tr>
                        <tr>
                          <th>Address</th>
                          <td>{{result.address}}</td>
                        </tr>
                        <tr>
                          <th>State</th>
                          <td>{{result.state}}</td>
                        </tr>
                        <tr>
                          <th>City</th>
                          <td>{{result.city}}</td>
                        </tr>
                        <tr>
                          <th>Area</th>
                          <td>{{result.area}}</tdss>
                        </tr>
                        <tr>
                          <th>Description</th>
                          <td>{{result.description}}</td>
                        </tr>
                        <tr>
                          <th>Register Date</th>
                          <td>{{result.register_date}}</td>
                        </tr>
                        <tr>
                          <th>Status</th>
                          <td>Complete</td>
                        </tr>
                        <tr>
                          <th>Update</th>
                          <td><a href="/myadmin/update1/{{result.id}}">Update</a></td>
                        </tr>
                        <tr>
                          <th>Delete</th>
                          <td><a href="/myadmin/delete1/{{result.id}}">Delete</a></td>
                        </tr>

                      
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            </div>
{% endblock %}