{% extends 'myadmin/common/layout.html' %}
{% block content %}
<div class="row">
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Customer Details</h4>
                  <!-- <p class="card-description">
                    All Customers </p> -->
                  
                  <div class="table-responsive">
                    <table class="table table-hover">
                
                      <tbody>
                        <tr>
                        	<th>Customer_id</th>
								          <td>1</td>
								         </tr>
								         <tr>
								         	<th>First Name</th>
								          <td>Sakhwala</td>
								         </tr>
								         <tr>
								         <th>Last Name</th> 
								          <td>Purvi</td>
								         </tr>
								         <tr> 
								         	<th>DOB</th>
								          <td>14/01/2004</td>
								         </tr>
								         <tr>
								         <th>Gender</th> 
								          <td>female</td>
								          </tr>
								          <tr>
								          	<th>Email</th>
								          <td>purvi14@gamil.com</td>
								          </tr>
								          <tr>
								          	<th>Contact</th>
								          <td>9087654679</td>
								          </tr>
								          <tr>
								          	<th>Address</th>
								          <td>bapunager Lorem Ipsum is simply dummy text of the printing and typesetting industry.</td>
								          </tr>
								          <tr>
								          	<th>State_id</th>
								          <td>2</td>
								          </tr>
								          <tr>
								          	<th>City_id</th>
								          <td>1</td>
								          </tr>
								          <tr>
								          	<th>Pincode_id</th>
								          <td>1</td>
								          </tr>
								          <tr>
								         		<th>Password</th>
								          <td>#purvi20</td>
								          </tr>
								          <tr>
								          	<th>CustomerRegdate</th>
								          <td>10/03/2024</td>
								          </tr>
								          <tr>
								          	<th>Update</th>
								          <td>Update</td>
								          </tr>
								          <tr>
								          	<th>Delete</th>
								          <td>Delete</td>
                      		</tr>
                       
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            </div>
{% endblock %}